<a href="https://colab.research.google.com/github/gnrochabr/Lab_program_Python/blob/main/%5C20242%5CFuncoesLista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Crie uma lista com os números de 1 a 10. Acesse o primeiro e o último elemento da lista e imprima-os.
lista1 = list(range(1, 11))
print("1. Primeiro elemento:", lista1[0])
print("1. Último elemento:", lista1[-1])

In [ ]:
# 2. Crie uma lista vazia e adicione os números 1, 2, e 3. Insira 0 no início e 4 na posição 4.
lista2 = []
lista2.extend([1, 2, 3])
lista2.insert(0, 0)  # Inserindo 0 no início
lista2.insert(4, 4)  # Inserindo 4 na posição 4
print("\n2. Lista final:", lista2)

In [ ]:
#3. Crie uma lista com os elementos ['maçã', 'banana', 'laranja', 'uva', 'maçã']. Remova a primeira ocorrência de "maçã" e depois remova o último elemento da lista. Imprima a lista resultante.
lista3 = ['maçã', 'banana', 'laranja', 'uva', 'maçã']
lista3.remove('maçã')  # Remove a primeira "maçã"
lista3.pop()  # Remove o último elemento
print("\n3. Lista resultante:", lista3)

In [ ]:
#4. Dada a lista ['a', 'b', 'a', 'c', 'a', 'b'], conte quantas vezes o valor 'a' aparece na lista e imprima o resultado.
lista4 = ['a', 'b', 'a', 'c', 'a', 'b']
contagem_a = lista4.count('a')
print("\n4. O valor 'a' aparece:", contagem_a, "vezes")

In [ ]:
#5. Crie uma lista com os números [5, 3, 9, 1, 7]. Ordene a lista em ordem crescente e depois em ordem decrescente. Imprima ambas as listas.
lista5 = [5, 3, 9, 1, 7]
lista5_crescente = sorted(lista5)
lista5_decrescente = sorted(lista5, reverse=True)
print("\n5. Ordem crescente:", lista5_crescente)
print("5. Ordem decrescente:", lista5_decrescente)

In [ ]:
#6. Crie uma lista com os números [15, 23, 4, 42, 8]. Encontre e imprima o maior e o menor valor da lista.
lista6 = [15, 23, 4, 42, 8]
maior_valor = max(lista6)
menor_valor = min(lista6)
print("\n6. Maior valor:", maior_valor)
print("6. Menor valor:", menor_valor)

In [ ]:
#7. Dada a lista [10, 20, 30, 40, 50], verifique se o número 25 está presente na lista. Imprima uma mensagem dizendo se o número foi encontrado ou não.
lista7 = [10, 20, 30, 40, 50]
if 25 in lista7:
    print("\n7. O número 25 foi encontrado na lista.")
else:
    print("\n7. O número 25 não foi encontrado na lista.")

In [ ]:
#8. Crie uma lista com os números [1, 2, 3, 4, 5]. Calcule e imprima a soma de todos os elementos da lista.
lista8 = [1, 2, 3, 4, 5]
soma_lista8 = sum(lista8)
print("\n8. A soma de todos os elementos da lista é:", soma_lista8)

In [ ]:
#9. Crie uma lista contendo os quadrados dos números de 1 a 10 usando list comprehension. Imprima a lista resultante.
lista9 = [x**2 for x in range(1, 11)]
print("\n9. Lista com os quadrados de 1 a 10:", lista9)

In [ ]:
#10. Dada a lista [10, 15, 20, 25, 30, 35, 40], crie uma nova lista contendo apenas os números pares. Use list comprehension para isso. Imprima a lista final.
lista = [10, 15, 20, 25, 30, 35, 40]
lista_pares = [num for num in lista if num % 2 == 0]
print(lista_pares)

[10, 20, 30, 40]